---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=channelId&key=key&part=snippet&q=kiribati
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "5eb10FimvOMPzXOx1NP9FSc2TjQ",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 9,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "ZKrw7cHnruWsZuhEa8pKvpN_n5Y",
              "id": {
                "kind": "youtube#video",
                "videoId": "404LWqnQhKo"
              },
              "snippet": {
                "publishedAt": "2021-07-31T21:26:18Z",
                "channelId": "channelId",
                "title": "A Super Quick History of Kiribati",
                "description": "Pictures Requiring Attribution: Government of Kiribati: https://commons.wikimedia.org/wiki/File:Kuria_dancers.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/404LWqnQhKo/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/404LWqnQhKo/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/404LWqnQhKo/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-07-31T21:26:18Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "HYDN_ri7HMDcbkxaMhLi_NyFDjE",
              "id": {
                "kind": "youtube#video",
                "videoId": "J4Ej1TMU5H0"
              },
              "snippet": {
                "publishedAt": "2022-05-18T00:06:08Z",
                "channelId": "channelId",
                "title": "A Super Quick History of Namibia",
                "descripti[...]
[...]
